# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
env/
.venv/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Logs
*.log

# Coverage / test
.coverage
htmlcov/
*.coverage
.cache/

# Uvicorn reloads
*.pid